@{
    ViewData["Title"] = "Weather log";
    @model WeatherAnalyticsSystem.ViewModels.WeatherViewModel;
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <table class="table table-hover">
        <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">City</th>
            <th scope="col">Temp</th>
            <th scope="col">Temp max</th>
            <th scope="col">Temp min</th>
            <th scope="col">Date and time</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Country</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var w in Model.weathersList)
        {
            <tr class="">
                <td>@w.Id</td>
                <td>@w.City</td>
                <td>@w.Main.Temp</td>
                <td>@w.Main.Temp_max</td>
                <td>@w.Main.Temp_min</td>
                <td>@Model.ConvertUnixTimeToDateTime(w.DateTime).ToString("dd.MM.yyyy HH:mm")</td>
                <td>@w.Coord.Latitude</td>
                <td>@w.Coord.Longitude</td>
                <td>@w.Sys.Country</td>
            </tr>
        }
        </tbody>
    </table>
</div>